@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

h1,
h2,
h3 {
  font-family: "racing sans one", sans-serif;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Titillium Web", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: bold;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
}

.click {
  cursor: pointer;
  transition: all 300ms ease;
}

.click:hover {
  transform: scale(0.9);
}

.click:active {
  transform: scale(0.8);
}
.title {
  font-size: 120px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}

/* 

    LANDING PAGE
    
*/
.header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
}

/* 

    NAVIGATION & Footer
    
*/

nav,
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: #1c1c25;
}

.footer__copyright {
  display: flex;
  line-height: 1.5;
  font-size: 12px;
  font-family: "Titillium Web", sans-serif;
  margin: 0 auto;
  color: #fff;
}

.nav__logo--main,
.footer__logo--main {
  width: 200px;
  height: 125px;
}

.footer__logo--main {
  display: flex;
  align-items: start;
}

.footer__logo--league {
  display: flex;
  align-items: end;
}

.nav__logo--league,
.footer__logo--league {
  width: 200px;
  height: 200px;
}

.nav__logo--league,
.footer__logo--league,
.white-filter {
  filter: brightness(0) invert(1);
}

.nav__link--list {
  display: flex;
}

.nav__link {
  font: #fff;
  display: flex;
  justify-content: space-evenly;
}

.nav__link--anchor {
  font-size: 28px;
  color: #fff;
  margin-right: 24px;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f7f7;
}

/* ---------- DROPDOWN ---------- */
.dropdown {
  width: 340px;
  margin: 30px auto;
  position: relative;
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Clear button */
#clearBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-weight: bold;
  display: none;
  user-select: none;
}

/* Dropdown list */
.dropdown-list {
  position: absolute;
  width: 100%;
  max-height: 260px;
  overflow-y: auto;
  border: 1px solid #ccc;
  background: white;
  display: none;
  z-index: 1000;
}

/* Each item */
.item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px;
  cursor: pointer;
  text-align: left;
}

.item img {
  width: 40px;
  height: 50px;
  object-fit: cover;
}

.item:hover,
.item.active {
  background: #eee;
}

/* ---------- DISPLAY AREA ---------- */
#displayArea {
  margin-top: 20px;
}

#displayArea img {
  width: 100%;
  max-width: 1600px;
  display: none;
  border-radius: 8px;
  margin: 0 auto;
}

/* Hide original images */
.grid-container__drivers {
  display: none;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 15px;
}

/* Schedule */
.next-race__card {
  display: flex;
  align-items: column;
  justify-content: center;
}

#race-info {
  font-size: 36px;
}

.next-race__title {
  font-size: 40px;
}

/*  Grids for Drivers and Teams */

section {
  background-color: #eee;
  transition: all 300ms ease;
}

.li {
  max-width: 100%;
}

.gridContainer__teams {
  background-color: #eee;
  width: 100%;
  max-width: 1600px;
  margin: 5px, 5px, 5px, 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 6;
}

.team {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 97.5%;
  object-fit: contain;
}
/* 
.grid-container__drivers {
  background-color: #eee;
  width: 100%;
  max-width: 1600px;
  margin: 5px, 5px, 5px, 5px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: 11;
}

.driver {
  display: flex;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 97.5%;
} */

.gridContainer > div:nth-child(1) {
  grid-column: 1 / span 2;
}

.gridContainer > div {
  background-color: #ccc;
}

.section__divider {
  font-size: 80px;
  color: white;
  margin-left: 20px;
}

.f1Titles {
  font-size: 80px;
  margin-left: 20px;
}

.f1subtitles {
  font-size: 56px;
  margin-left: 20px;
}

/* Driver Standings */

table {
  border-collapse: collapse;
  width: 90%;
  max-width: 1600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}
#th {
  border: 2px solid #1c1c25;
  padding: 4px;
  text-align: left;
  background-color: #eee;
}

#td {
  border-bottom: 1px solid #1c1c25;
  padding: 4px;
  text-align: left;
  background-color: #eee;
}

.table__standings--driver,
.table__standings--teams {
  width: 90%;
  min-width: 300px;
  max-width: 1600px;
  border-collapse: collapse;
}

.table__standings--driverth,
.table__standings--teamsth {
  border-bottom: 2px solid #1c1c25;
  padding: 4px;
  text-align: left;
}

.table__standings--drivertd,
.table__standings--teamstd {
  border-bottom: 1px solid #1c1c25;
  padding: 4px;
  text-align: left;
}

.table__standings--driverth,
.table__standings--teamsth {
  background-color: #eee;
}

.name__td:hover {
  cursor: pointer;
}

.team__td:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav__logo--main,
  .footer__logo--main {
    max-width: 75%;
    margin: 0 auto;
  }
  .nav__logo--league,
  .footer__logo--league {
    display: none;
  }

  .nav__link {
    display: none;
  }

  .title {
    font-size: 60px;
  }
  .f1Titles {
    font-size: 56px;
  }
  .nav__link:first-child {
    display: none;
  }

  .next-race__title {
    font-size: 40px;
  }

  #race-info {
    font-size: 32px;
  }

  #searchInput {
    width: 100%;
    max-width: 768px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
  }

  #displayArea img {
    width: 100%;
    max-width: 768px;
    display: none;
    border-radius: 8px;
    margin: 0 auto;
  }

  #driver__standings {
    max-width: 100%;
  }

  td,
  th {
    font-size: 20px;
    padding: 4px;
  }

  .title {
    font-size: 80px;
  }
  .header__para {
    font-size: 20px;
  }

  .footer__logo--league {
    display: none;
  }
}

/*

    SMALL PHONES

*/

@media (max-width: 480px) {
  .nav__logo--main,
  .footer__logo--main {
    max-width: 75%;
    margin: 0 auto;
  }
  .nav__logo--league,
  .footer__logo--league {
    display: none;
  }

  .nav__link {
    display: none;
  }

  .title {
    font-size: 52px;
  }
  .f1Titles {
    font-size: 48px;
  }
  .nav__link:first-child {
    display: none;
  }

  .next-race__title {
    font-size: 32px;
  }

  #race-info {
    font-size: 24px;
  }

  .dropdown {
    width: 300px;
    margin: 5px auto;
    position: relative;
  }

  #searchInput {
    width: 100%;
    max-width: 264px;
    padding: 5px;
    font-size: 12px;
    box-sizing: border-box;
    margin: 0 auto;
  }

  #displayArea img {
    width: 100%;
    max-width: 300px;
    display: none;
    border-radius: 8px;
    margin: 0 auto;
  }

  #driver__standings {
    max-width: 300px;
  }

  td,
  th {
    font-size: 12px;
    padding: 2px;
  }
}
